
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © <br />Nguyễn Hồ Thanh Luyên <br /> Nguyễn Hoàng Thái Tuấn <br />Thân Hải Điền</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Đồ án các hệ quản trị cơ sở dữ liệu<br /> Giảng viên hướng dẫn <br /><a href="#">Ths. Lê Thị Minh Nguyệt</a> </span>
    </div>
</footer>
